* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  max-width: 1440px;
  word-wrap: break-word;
}

:root {
  --cyan: #0E8784;
  --darker-cyan: #052b2c;
  --grey: #9c9e9e;
  --dark-grey: #333D4B;
  --light-grey: #bec5c5;
  --coffee-brown: #fdd6ba;
  --white: #f0f1f1;
}

html {
  scroll-behavior: smooth;
}

html,body {
  max-width: 100%;
}

body {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
span {
  font-family: "Fraunces", serif;
}

p {
  color: var(--grey);
  line-height: 1.5rem;
}

.btn {
  font-family: "Fraunces", serif;
  color: var(--white);
  background-color: var(--cyan);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.btn:hover {
  color: var(--darker-cyan);
  background-color: var(--coffee-brown);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (max-width: 778px) {
  body {
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 720px) {
  body {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  body, nav {
    padding: 0 0.75rem;
  }
}


   /* pop-up dialog */

   .modal-bg{
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .modal{
    background-size: cover;
    border-radius: 0.5rem;
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
  }

  .modal-title{
    background-color: var(--dark-grey);
    padding: 2rem 3rem;
  }

  .modal-title h1{
    color: var(--white);
  }

  .modal-text h2 {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--grey)
  }

  .modal-text p{
    padding-top: 1rem;
  }

  .modal-summary{
    background-color: var(--white);
    background-size: cover;
  }

  .modal-text{
    padding: 2rem 3rem;
  }

  .modal-lowerpart{
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .modal-lowerpart h2{
    color: var(--dark-grey);
    padding: 0.5rem;
  }
  
  .plan-btn h2{
    color: var(--white);
  }

  
@media screen and (max-width: 778px){
    body {
      padding: 0 2.5rem;
    }
  }


@media screen and (max-width: 778px) {
    body {
      padding: 0 2.5rem;
    }
    .modal-bg{
      width: 50%;
  margin: 0 auto;
    }
  }

@media screen and (max-width: 720px) {
    body {
      padding: 0 1.5rem;
    }
    .modal-bg{
      width: 50%;
  margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    body, nav {
      padding: 0 0.75rem;
    }
    .modal-bg{
      width: 50%;
  margin: 0 auto;
    }
  } 
@media screen and (max-width:1000px){
    .modal-bg{
      width: 50%;
  margin: 0 auto;
    }
  }
